{{define "sku/edit"}} {{template "header"}}
<form class="form-horizontal" action="/skus/{{.Form.Id}}" method="post">
  <input type="hidden" name="_method" value="put" />
    <div class="form-group">
    <label for="skuId" class="col-sm-2 control-label">SkuId</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="skuId" name="SkuId" value="{{.Form.SkuId}}" placeholder="SkuId">
    </div>
  </div>
  <div class="form-group">
    <label for="code" class="col-sm-2 control-label">Code</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="code" name="Code" value="{{.Form.Code}}" placeholder="Code">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="Name" value="{{.Form.Name}}" placeholder="Name">
    </div>
  </div>


  <div class="form-group">
    <label for="images" class="col-sm-2 control-label">Images</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="images" name="Images" value="{{.Form.Images}}" placeholder="Images">
    </div>
  </div>
  <div class="form-group">
    <label for="options" class="col-sm-2 control-label">Options</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="options" name="Options" value="{{.Form.Options}}" placeholder="Options">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="Enable" value="true" {{if .Form.Enable}}checked{{end}}> Enable
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </div>
</form>
<p>
  <a href="/skus/{{.Form.Id}}">Show</a> | <a href="/skus">Back</a>
</p>
{{with .flash.error}}
<div class="alert alert-danger" role="alert">{{.}}</div>{{end}} {{with .flash.warning}}
<div class="alert alert-warning" role="alert">{{.}}</div>{{end}} {{with .flash.notice}}
<div class="alert alert-info" role="alert">{{.}}</div>{{end}} {{template "footer"}} {{end}}