{{define "sku/index"}}
{{template "header"}}
<p>
  <a class="btn btn-primary" href="/skus/new" role="button">New Sku</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>      
      <th>SkuId</th>
      <th>Code</th>
      <th>Name</th>

      <th>Images</th>
      <th>Options</th>
      <th>Enable</th>
      
  
    </tr>
  </thead>
  <tbody>
    {{range .Skus}}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.SkuId}}</td>
      <td>{{.Code}}</td>
      <td>{{.Name}}</td>

      <td>{{.Images}}</td>
      <td>{{.Options}}</td>
      <td>{{.Enable}}</td>
      
      <td>
        <a href="/skus/{{.Id}}">[Show]</a>
        <a href="/skus/{{.Id}}/edit">[Edit]</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{$totalPageSize := add 1 (divide .MaxResultCount .TotalCount)}}
{{$maxResultCount := .MaxResultCount}}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/skus?maxResultCount={{$maxResultCount}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{ range $i := loop $totalPageSize}}
      <li><a href="/skus?maxResultCount={{$maxResultCount}}&skipCount={{multiply $maxResultCount $i}}">{{add $i 1}}</a></li>
    {{ end }}
    <li>
      <a href="/skus?maxResultCount={{$maxResultCount}}&skipCount={{multiply $maxResultCount (subtract 1 $totalPageSize)}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{{with .flash.error}} error: {{.}} {{end}}
{{with .flash.warning}} warning: {{.}} {{end}}
{{with .flash.notice}} notice: {{.}} {{end}}
{{template "footer"}}
{{end}}