{{define "sku/show"}}
{{template "header"}}
{{with .Sku}}
<dl class="dl-horizontal">
  <dt>Id</dt><dd>{{.Id}}</dd>
  <dt>SkuId</dt><dd>{{.SkuId}}</dd>
  <dt>Code</dt><dd>{{.Code}}</dd>
  <dt>Name</dt><dd>{{.Name}}</dd>

  <dt>Images</dt><dd>{{.Images}}</dd>
  <dt>Options</dt><dd>{{.Options}}</dd>
  <dt>Enable</dt><dd>{{.Enable}}</dd>
  <dt>CreatedAt</dt><dd>{{.CreatedAt}}</dd>
  <dt>UpdatedAt</dt><dd>{{.UpdatedAt}}</dd>
</dl>
<p>
  <a href="/skus/{{.Id}}/edit">Edit</a> | <a href="/skus">Back</a>
</p>
{{end}}
{{template "footer"}}
{{end}}